<div class="container">
  <div class="row justify-content-center mt-5">
    <form class="col-4" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" autocomplete="off">
        <div class="form-group my-1">
          <label class="text-primary" for="username">User Name</label>
          <input type="text" class="form-control my-1" formControlName="username" id="username" aria-describedby="username">
        </div>
        <div class="form-group my-1">
            <label class="text-primary" for="password">Password</label>
            <input type="password" class="form-control my-1"  formControlName="password" id="password" aria-describedby="password">
          </div>
          <div class="text-center">
        <button type="submit"  [disabled]="!loginForm.valid"  class="btn btn-primary text-center mt-2">Login</button>
      </div>
      </form>
    </div>
</div>
