<!-- <div class="head">
  <div class="main-list">
  <div class="title">Book Project</div>
  <div class="store">Store</div>
  <div class="add">Add</div>
  </div>
  <div class="search-list new">
  <div class="search">
    <span><input  type="text" placeholder="search"/></span>
  </div>
  <div class="login">Login</div>
</div>
</div> -->

<div class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <div class="navbar-brand">Book Project</div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/login" aria-current="page" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/signup" routerLink="signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
   
  </div>
  
  
  